.continer {
  margin-top: 50px;
}
.abtcontiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:30px;
  margin: 0px 30px;
}
.img {
  height: 300px;
  width: 300px;
  object-fit: contain;
}
.text {
  font-family: lato;
  font-size: 24px;
  text-align: left;
}
