.card {
  width: 200px;
  height: 352px;
  transition: 0.2s all ease-in-out;
}

.cardImage {
  position: relative;
  background-color: #f4f6f8;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
}

.cardImage .tag {
  position: absolute;
  right: 10px;
  top: 10px;
  text-transform: uppercase;
}

.cardImage img {
  width: 150px;
}

.bottom {
  width:100%
}

.bottom .category {
  color: #919eab;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.bottom .title {
  color: #212B36;
font-family: Lato;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 157.143% */
}