.prductContainer {
  background-color: aquamarine;

  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: space-between;
}

.stickyContainer {
  position: sticky;
  top: 0;
  z-index: 1000; 
}

.stickyNav {
  transition: background-color 0.3s ease-in-out; /* Optional smooth background color transition */
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); 
}

.subCategories {
  background-color: red;
}
.sub1 {
  display: flex;

  gap: 40px;
}
.search {
  height: 40px;
  background-color: white;
  margin: 0 20px;
  border: none;
  border-radius: 10px;
  padding: 20px;
}
