.inner {
	display: flex;
	flex-direction: column;
	gap: 10px;
	height:500px;
	/*animation: evenin 0.5s ease-in-out none;*/
		animation: opacity 0.5s linear;
}

.innerodd {
	display: flex;
	flex-direction: column;
	height:500px;
	gap: 10px;
	/*animation: evenout 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) none;*/
	animation: opacity 0.5s linear;
}


.carousel img {
	width: 100vw;
	height:500px
}

.carousel {
	position:relative;
}

.button1 {
	top:50%;
	position:absolute;
	left:0;
}


.button2 {
	top:50%;
	position:absolute;
	right:0;
}

@keyframes evenout {
	0% {
		transform: translateY(-1000px);
	}

	100% {
		transform: translate(0px);
	}
}

@keyframes evenin {
	0% {
		transform: translate(1000px);
	}

	100% {
		transform: translate(0px);
	}
}


@media screen and (max-width: 600px) {
	.carousel, .carousel img {
		height: 250px;
	}
	.button1, .button2 {
		display:none
	}
}

.dots {
	position:absolute;
	bottom:0;
	left:50%;
}