.sidebar_phones {
	max-height: 300px;
	overflow: auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.sideBarFilter {
	width: 400px;
	margin-right: 20px;
	max-height: 500px;
	height: fit-content;
	overflow-y: auto;
}

.mobileMenu {
		display:none;
	}

@media screen and (max-width: 600px) {
	.container {
		padding: 0px !important;
	}
	.sideBarFilter {
		display: none !important;
	}
	.productsContainer {
		display: grid;
		padding: 10px !important;
		overflow:none !important;
		max-height: fit-content !important;
	}
	.mobileMenu {
		display:flex;
		padding:10px;
		width: 100%;
		justify-content:flex-end;
	}
}

.min_input {
	width: 117px;
	height: 45px;
	flex-shrink: 0;
	border-radius: 8px;
	background: rgba(145, 158, 171, 0.08);
	display: flex;
	gap: 10px;
	align-items: center;
	padding: 10px;
}

.min_input input {
	border: none;
	outline: none;
	width: 100%;
	background: transparent;
}
