@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  font-family: sans-serif;
  text-align: center;
}

.styles-module_slider__o0fqa {
  gap:10px;
  display:flex;
  flex-direction:row;
}