.right p {
  text-align: left;
}

.right {
  text-align: left;
  justify-content: start;
}
.container {
  position: relative;
  margin: 40px;
}

.ProductContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}

@media screen and (max-width: 600px) {
  .ProductContainer {
    flex-direction: column;
    justify-content: center !important;
  }
}

.imageContainer {
  display: flex;
  flex-direction: column;
}
.ProductImage {
  width: 300px;
  height: 300px;
}
.subimageContainer {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  gap: 10px;
}

@media screen and (max-width: 700px) {
  .subimage {
    height: 125px;
    width: 125px;
  }
}

.subimageshow {
  width: 67px;
  height: 100px;
}
.TextContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  gap: 10px;
  letter-spacing: 2ic;
}

@media screen and (max-width: 600px) {
  .TextContainer {
    gap: 5px;
  }
  .ProductContainer {
    gap: 10px;
  }
}

.ButtonC {
  width: 200px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #e6ca83;
  border: none;
  margin-right: 75px;
  color: #fffdfd;
  font-family: Lato;
  font-size: 30px;
  font-style: normal;

  line-height: normal;
}
.ButtonB {
  width: 200px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #83c2e6;
  border: none;
  color: #fffdfd;
  font-family: Lato;
  font-size: 30px;

  line-height: normal;
}
.RCtext {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}
.btnview {
  width: 90px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #84c2e6;
  border: none;
  color: #fff;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;

  line-height: normal;
}
.RcCards {
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
}
.RcCard {
  width: 310px;
  height: 392px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 1px 3px 3px rgba(85, 84, 84, 0.25);
}
